In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("palak.csv") #loading data from csv file

In [3]:
data

   Exp    sky air temp humidity    wind water forecast enjoy sport
0    1  sunny     warm   normal  strong  warm     same         yes
1    2  sunny     warm     high  strong  warm     same         yes
2    3  rainy     cold     high  strong  warm   change          no
3    4  sunny     warm     high  strong  cool   change         yes

In [4]:
#lab-1
concepts=np.array(data)[::-1]

In [5]:
concepts

array([[4, 'sunny', 'warm', 'high', 'strong', 'cool', 'change', 'yes'],
       [3, 'rainy', 'cold', 'high', 'strong', 'warm', 'change', 'no'],
       [2, 'sunny', 'warm', 'high', 'strong', 'warm', 'same', 'yes'],
       [1, 'sunny', 'warm', 'normal', 'strong', 'warm', 'same', 'yes']],
      dtype=object)

In [6]:
target=np.array(data)[:,-1]

In [7]:
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [8]:
def train(con,tar):
    for i, val in enumerate(tar):
        if val=='yes':
            specific_h=con[i].copy()
            break
    for i, val in enumerate(con):
        if tar[i]=='yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                else:
                    pass
    return specific_h

In [9]:
print(train(concepts,target))

['?' '?' '?' '?' 'strong' '?' '?' '?']